<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      User course selection #<%= @user_course_selection.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/user_course_selections" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/user_course_selections/<%= @user_course_selection.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit user course selection
        </a>
      </div>

      <div class="col">
        <a href="/delete_user_course_selection/<%= @user_course_selection.id %>" class="btn btn-block btn-outline-secondary">
          Delete user course selection
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Course plan
      </dt>
      <dd>
        <% if @user_course_selection.course_plan.present? %>
          <a href="/course_plans/<%= @user_course_selection.course_plan_id %>">
            <%= @user_course_selection.course_plan.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Course
      </dt>
      <dd>
        <% if @user_course_selection.course.present? %>
          <a href="/courses/<%= @user_course_selection.course_id %>">
            <%= @user_course_selection.course.title %>
          </a>
        <% end %>
      </dd>

      <dt>
        Professor
      </dt>
      <dd>
        <%= @user_course_selection.professor %>
      </dd>

      <dt>
        Quarter
      </dt>
      <dd>
        <%= @user_course_selection.quarter %>
      </dd>

      <dt>
        Day
      </dt>
      <dd>
        <%= @user_course_selection.day %>
      </dd>

      <dt>
        Hours of preparation
      </dt>
      <dd>
        <%= @user_course_selection.hours_of_preparation %>
      </dd>

      <dt>
        Rating
      </dt>
      <dd>
        <%= @user_course_selection.rating %>
      </dd>

      <dt>
        Bid points
      </dt>
      <dd>
        <%= @user_course_selection.bid_points %>
      </dd>

      <dt>
        Pre req
      </dt>
      <dd>
        <%= @user_course_selection.pre_req %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@user_course_selection.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@user_course_selection.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

