<% if @course_concentration.errors.any? %>
  <% @course_concentration.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit course concentration #<%= @course_concentration.id %>
</h1>

<hr>

<form action="/update_course_concentration/<%= @course_concentration.id %>" method="post">

  <div class="form-group">
    <label for="course_id">
      Course
    </label>

    <%= select_tag(:course_id, options_from_collection_for_select(Course.all, :id, :title, @course_concentration.course_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="concentration_id">
      Concentration
    </label>

    <%= select_tag(:concentration_id, options_from_collection_for_select(Concentration.all, :id, :name, @course_concentration.concentration_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update course concentration
  </button>
</form>

<hr>

<a href="/course_concentrations">
  Go back
</a>
