<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Course concentration #<%= @course_concentration.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/course_concentrations" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link course_concentration start -->
      <div class="col">
        <a href="/course_concentrations/<%= @course_concentration.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit course concentration
        </a>
      </div>
      <!-- Edit link course_concentration end -->

      <!-- Delete link course_concentration start -->
      <div class="col">
        <a href="/delete_course_concentration/<%= @course_concentration.id %>" class="btn btn-block btn-outline-secondary">
          Delete course concentration
        </a>
      </div>
      <!-- Delete link course_concentration end -->
    </div>

    <dl>
      <dt>
        Course
      </dt>
      <!-- Display course_id start -->
      <dd>
        <%= @course_concentration.course_id %>
      </dd>
      <!-- Display course_id end -->

      <dt>
        Concentration
      </dt>
      <!-- Display concentration_id start -->
      <dd>
        <%= @course_concentration.concentration_id %>
      </dd>
      <!-- Display concentration_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@course_concentration.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@course_concentration.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
