<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All course categories
    </h1>

    <a href="/course_categories/new" class="btn btn-block btn-outline-secondary">
      Add a new course category
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "course_category_templates/course_categories_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Course
        </th>

        <th>
          Category
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @course_categories.each do |course_category| %>
      <tr>
        <td>
          <%= course_category.id %>
        </td>

        <td>
          <% if course_category.course.present? %>
            <a href="/courses/<%= course_category.course.id %>">
              <%= course_category.course.title %>
            </a>
          <% end %>
        </td>

        <td>
          <% if course_category.category.present? %>
            <a href="/categories/<%= course_category.category.id %>">
              <%= course_category.category.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(course_category.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(course_category.updated_at) %> ago
        </td>

        <td>
          <a href="/course_categories/<%= course_category.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @course_categories, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
