<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All course categories
    </h1>

    <a href="/course_categories/new" class="btn btn-block btn-outline-secondary">
      Add a new course category
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Course
        </th>

        <th>
          Category
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @course_categories.each do |course_category| %>
      <tr>
        <!-- Display course_category.id start -->
        <td>
          <%= course_category.id %>
        </td>
        <!-- Display course_category.id end -->

        <!-- Display course_category.course_id start -->
        <td>
          <%= course_category.course.title %>
        </td>
        <!-- Display course_category.course_id end -->

        <!-- Display course_category.category_id start -->
        <td>
          <%= course_category.category.name %>
        </td>
        <!-- Display course_category.category_id end -->

        <!-- Display course_category.created_at start -->
        <td>
          <%= time_ago_in_words(course_category.created_at) %> ago
        </td>
        <!-- Display course_category.created_at end -->

        <!-- Display course_category.updated_at start -->
        <td>
          <%= time_ago_in_words(course_category.updated_at) %> ago
        </td>
        <!-- Display course_category.updated_at end -->

        <td>
          <a href="/course_categories/<%= course_category.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @course_categories, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
