<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Course #<%= @course.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/courses" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/courses/<%= @course.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit course
        </a>
      </div>

      <div class="col">
        <a href="/delete_course/<%= @course.id %>" class="btn btn-block btn-outline-secondary">
          Delete course
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @course.title %>
      </dd>

      <dt>
        Number
      </dt>
      <dd>
        <%= @course.number %>
      </dd>

      <dt>
        Unit
      </dt>
      <dd>
        <%= @course.unit %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@course.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@course.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "course_templates/course_course_categories" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "course_templates/course_course_concentrations" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "course_templates/course_user_course_selections" %>
  </div>
</div>
